/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Document */

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.heading-and-search {
    font-family:'Questrial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.heading-and-search > div {
    flex: 1;
    display: flex;
    align-items: center;
}

h1 {
    text-align: left;
    flex: 7;
    font-size: 4em;
    font-weight: 800;
    margin-left: 7.5em;
}

button {
    border: none;
}

.search-button {
    font-size: 1.5em;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.calendar-container>input, .time-container>input {
    font-family: "Questrial", sans-serif;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0
}

.add-task {
    margin: 0 auto;
    max-width: 32em;
    width: 80%;
    font-size: 1.5em;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 32px rgba(0,0,0,0.25);
}

.add-task > input[type="text"] {
    font-family: "Questrial", sans-serif;
    width: 90%;
    height: 2em;
    margin: 0.5em 0;
    padding: 0 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    background: transparent;

}

.add-task > input[type="text"]:focus {
    outline: none;
    border: none;
}

.deadline {
    display: flex;
}

.deadline > * {
    font-family: "Questrial", sans-serif;
    outline: none;
    border: none;
    background: transparent;
    padding: 0 0.5em 1em 1.5em;
}

.empty-list {
    font-family: "Questrial", sans-serif;
    text-align: center;
    font-size: 1.2em;
    margin: 1em 0;
    color: grey;
}

.empty-list > img {
    margin: 10% 10% 2%;
    width: 40%;
}

.task-list-container {
    margin: 2rem 4rem 1rem;
}

.task {
    width: 80%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c4c3c3; 
}

.task > label {
    flex: 1;
    font-size: 1.5em;
    font-family: "Questrial", sans-serif;
    margin: 0.5em;
}

.task > input[type="checkbox"] {
    cursor: pointer;
    margin: 0 0.5em;
}

.task > div {
    position: relative;
}

.date-task-input-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
}

.date-task-input, .date-task-input:focus {
    font-family: "Questrial", sans-serif;
    font-size: 1.2em;
    border: none;
    outline: none;
}

.date-time-button {
    background-color: rgb(0, 0, 0);
    font-family: "Questrial", sans-serif;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    margin: 0 0.5em;
    padding: 8px 16px;
}

.options-button {
    background-color: rgb(0, 0, 0);
    font-family: "Questrial", sans-serif;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    margin: 0 0.5em;
    padding: 8px;
}

.options-menu {
    position: absolute;
    top: -32px;
    left: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.8em;
    border-radius: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.options-menu > button {
    font-family: "Questrial", sans-serif;
    font-size: 0.8em;
    padding: 1em 2em;
    display: block;
    width: 100%;
    border-bottom: 1px solid #474747;
    background: transparent;
    cursor: pointer;
}

.delete-task {
    color: #ff0000;
    border: none !important;
}

.collapsible-content {
    transition: max-height 0.3s;
    max-height: 1000px;
    z-index: 1;
}

.collapsible-content.collapsed {
    overflow: hidden;
    max-height: 0;
}

.date-header {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Questrial", sans-serif;
    font-size: 1.5rem;
    margin: 1em 0;
    border-bottom: 1px solid #525252;
}

.toggle-button {
    display: inline-block;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}