/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.heading-and-search {
    font-family:'Patrick Hand SC', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.heading-and-search > div {
    flex: 1;
    display: flex;
    align-items: center;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

h1 {
    text-align: left;
    flex: 3;
    font-size: 3em;
    font-weight: 800;
    padding: 0 1em;
}

button {
    border: none;
}

#search-button {
    padding: 4px;
    font-size: 1em;
    border: none;
}

.hidden {
    display: none;
}

.calendar-container>input, .time-container>input {
    font-family: "Patrick Hand SC", sans-serif;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0
}

.add-task {
    margin: 0 auto;
    max-width: 32em;
    width: 80%;
    font-size: 1.5em;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.2)
}

.add-task > input[type="text"] {
    font-family: "Patrick Hand SC", sans-serif;
    width: 90%;
    height: 2em;
    margin: 0.5em 0;
    padding: 0 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    background: transparent;

}

.add-task > input[type="text"]:focus {
    outline: none;
    border: none;
}

.deadline {
    display: flex;
}

.deadline > * {
    font-family: "Patrick Hand SC", sans-serif;
    outline: none;
    border: none;
    background: transparent;
    padding: 0 0.5em 1em 1.5em;
}

.empty-list {
    font-family: "Patrick Hand SC", sans-serif;
    text-align: center;
    font-size: 1.2em;
    margin: 1em 0;
    color: grey;
}

.empty-list > img {
    margin: 10% 10% 2%;
    width: 20%;
}

.task-list-container {
    max-width: 64em;
    width: 60%;
    margin: 0 auto;
}

.task {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c4c3c3;
    /* outline: 1px solid red; */
}

.task > label {
    flex: 1;
    font-size: 1.2em;
    font-family: "Patrick Hand SC", sans-serif;
    margin: 0.5em;
}

.task > input[type="checkbox"] {
    cursor: pointer;
    margin: 0 0.5em 0 4em;
    width: 1.5em;
    height: 1.5rem;
    accent-color: black;
}

.task > div {
    position: relative;
}

.date-task-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1.5em 0 0.5em 0;
    /* outline: 1px solid red; */
}

.date-task-input, .date-task-input:focus {
    flex: 1;
    font-family: "Patrick Hand SC", sans-serif;
    font-size: 1.2em;
    border: none;
    outline: none;
    margin: 0.5em;
}

.plus-icon {
    margin: 0 0.2em 0 3em;
    width: 1.5em;
    height: 1.5rem;
    /* outline: 1px solid red; */
    font-size: 1.2em;
}

.date-time-button {
    background-color: rgb(212, 212, 212);
    font-family: "Patrick Hand SC", sans-serif;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    color: #2d2d2d;
    margin: 0 0.5em;
    padding: 8px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}

.options-button {
    font-family: "Patrick Hand SC", sans-serif;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    color: #000000;
    margin: 0 0.5em;
    padding: 4px;
}

.options-menu {
    position: absolute;
    top: -32px;
    left: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.8em;
    border-radius: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.options-menu > button {
    font-family: "Patrick Hand SC", sans-serif;
    font-size: 1.2em;
    padding: 0.2em 1em;
    display: block;
    width: 100%;
    border-bottom: 1px solid #474747;
    background: transparent;
    cursor: pointer;
}

.delete-task {
    color: #ff0000;
    border: none !important;
}

.collapsible-content {
    transition: max-height 0.3s;
    max-height: 1000px;
    z-index: 1;
}

.collapsible-content.collapsed {
    overflow: hidden;
    max-height: 0;
}

.toggle-button {
    width: 40px;
    height: 40px;
}

.date-header {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Patrick Hand SC", sans-serif;
    font-size: 1.4rem;
    margin: 1em 0;
}

.toggle-button {
    display: inline-block;
    background: none;
    border: none;
    font-size: 0.8em;
    cursor: pointer;
}

#search-input {
    font-family: "Patrick Hand SC", sans-serif;
    font-size: 1.2em;
    border: none;
    outline: none;
    background: transparent;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
    .heading-and-search {
        flex-direction: column;
    }

    h1 {
        text-align: center;
        padding: 0;
        margin-bottom: 20px;
    }

    .add-task {
        width: 90%;
    }

    .task-list-container {
        width: 90%;
    }

    .task > input[type="checkbox"] {
        margin: 0 0.5em 0 1em;
    }

    .plus-icon {
        margin: 0 0.2em 0 1em;
    }


    .add-task > input[type="text"] {
        width: 85%;
    }

    .deadline > * {
        padding: 0 0.3em 1em 0.8em;
    }

    .task > label {
        font-size: 1em;
    }

    .date-task-input, .date-task-input:focus {
        font-size: 1em;
    }

    .date-time-button, .options-button {
        font-size: 0.9em;
        padding: 6px;
    }
    
    
    .options-menu {
        position: absolute;
        top: 32px;
        left: -64px;
    }

    .options-menu > button {
        font-size: 1em;
    }

    .date-header {
        font-size: 1.2rem;
    }
}
